<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="root">

        <div id="user-input">
            <input @keyup.enter="addText()" type="text" v-model='testo'>
            <button @click="addText()">Aggiungi</button>
        </div>

        <!-- dando la classe dinamica allo span si evita di "sottolineare" l'elemento alla 
        cancellazione dell'elemento sopra -->
        <div id="user-list">
            <p class="list-item" v-model="testo" v-for="(elemento,index) in toDoList">
                <span @click="doneOrNot(index)" :class="{'element-done' : elemento.done}">{{elemento.text}}</span>
                <i @click="togli(index)" class="fas fa-times elimina"></i>
            </p>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/8f1b5398cd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>

</html>